# These are all the possible properties for the configuration files.
# The values included in this file are the default values for the property they are associated with.
exporter:
  name: # Valid values: terraform
  settings:
    # Specific to the Terraform exporter (exporter.name: terraform)
    api_endpoint: https://app.terraform.io
    api_token:
    include:
      workspaces: ^example-.*$

spacelift:
  api:
    api_key_endpoint: https://<ACCOUNT NAME>>.app.spacelift.io/graphql
    api_key_id:
    api_key_secret:
