# These are all the possible properties for the configuration files.
# The values included in this file are the default values for the property they are associated with.
exporter:
  name: # Valid values: terraform
  settings:
    # Specific to the Terraform exporter (exporter.name: terraform)
    api_endpoint: https://app.terraform.io
    api_token:
    include:
      workspaces: ^example-.*$

generator:
  extra_vars:
    foo: bar # "{{ extra_vars.foo }}" in a template will be replaced by "bar"

    # If you use a custom app in github with spacelift, set this to `true`.
    # If you use the marketplace github app with spacelift, set this to `false`.
    # Default: false
    github:
      customApp: false

github:
  api_token:
  endpoint: https://api.github.com

spacelift:
  api:
    api_key_endpoint: https://<ACCOUNT NAME>>.app.spacelift.io/graphql
    api_key_id:
    api_key_secret:
