{% macro argument(name, value, default=None, required=False, serialize=True) %}
  {% if value is defined and (required or (not required and value != default)) %}
  {{name}} = {% if serialize %}{{ value|totf }}{% else %}{{ value }}{% endif %}
  {% elif required and value is not defined %}
    {% raise "'" ~ name ~ "' argument is required but no value was provided" %}
  {% endif %}
{% endmacro %}

terraform {
  required_providers {
    spacelift = {
      source  = "spacelift-io/spacelift"
      version = "~> 1.0"
    }
  }
}

{% for space in spaces %}
resource "spacelift_space" "{{ space._migration_id }}" {
  {{ argument("description", space.description) }}
  {{ argument("name", space.name, required=True) }}
  {{ argument("parent_space_id", "root", required=True) }}
}

{% endfor %}

{% for stack in stacks %}
{% if stack.vcs.repository %}
resource "spacelift_stack" "{{ stack._relationships.space._migration_id }}_{{ stack._migration_id }}" {
  {{ argument("auto_deploy", stack.auto_deploy, default=False) }}
  {{ argument("branch", stack.vcs.branch, required=True) }}
  {{ argument("description", stack.description) }}
  {{ argument("local_preview", stack.local_preview) }}
  {{ argument("labels", stack.labels) }}
  {{ argument("manage_state", False) }}
  {{ argument("name", stack.name, required=True) }}
  {{ argument("project_root", stack.vcs.project_root) }}
  {{ argument("repository", stack.vcs.repository, required=True) }}
  {{ argument("terraform_version", stack.terraform.version, serialize=True) }}
  {{ argument("space_id", "spacelift_space." ~ stack._relationships.space._migration_id ~ ".id", serialize=False) }}

  {% if stack.vcs.provider == "github_custom" %}
  github_enterprise {
    {{ argument("namespace", stack.vcs.namespace) }}
  }
  {% endif %}
}
{% endif %}

{% endfor %}

{% for variable in stack_variables %}
{% if variable._relationships.stack.vcs.repository %}
resource "spacelift_environment_variable" "{{ variable._relationships.space._migration_id }}_{{ variable._relationships.stack._migration_id }}_{{ variable._migration_id }}" {
  {{ argument("name", variable.name, required=True) }}
  {{ argument("stack_id", "spacelift_stack." ~ variable._relationships.space._migration_id ~ "_" ~ variable._relationships.stack._migration_id ~ ".id", serialize=False) }}
  {% if not variable.write_only %}
    {{ argument("value", variable.value) }}
  {% endif %}
  {{ argument("write_only", variable.write_only, default=True) }}
}
{% endif %}

{% endfor %}
