interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/policies
  response:
    body:
      string: '{"data":[{"id":"pol-2EAtkaeuurV4TSNG","type":"policies","attributes":{"name":"smk-opa-policy-1","description":"SMK
        OPA policy #1","enforce":[{"path":"smk-opa-policy-1.rego","mode":"advisory"}],"policy-set-count":1,"updated-at":"2023-10-15T16:56:21.895Z","kind":"opa","query":"data.example.rule","enforcement-level":"advisory"},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"policy-sets":{"data":[{"id":"polset-FyjB3zYm7EXFNpQH","type":"policy-sets"}]}},"links":{"self":"/api/v2/policies/pol-2EAtkaeuurV4TSNG","upload":"/api/v2/policies/pol-2EAtkaeuurV4TSNG/upload","download":"/api/v2/policies/pol-2EAtkaeuurV4TSNG/download"}},{"id":"pol-WCXyQvXmgdroXQmS","type":"policies","attributes":{"name":"smk-opa-policy-2","description":"SMK
        OPA policy #2","enforce":[{"path":"smk-opa-policy-2.rego","mode":"mandatory"}],"policy-set-count":1,"updated-at":"2023-10-15T16:56:21.578Z","kind":"opa","query":"data.example.rule","enforcement-level":"mandatory"},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"policy-sets":{"data":[{"id":"polset-FyjB3zYm7EXFNpQH","type":"policy-sets"}]}},"links":{"self":"/api/v2/policies/pol-WCXyQvXmgdroXQmS","upload":"/api/v2/policies/pol-WCXyQvXmgdroXQmS/upload","download":"/api/v2/policies/pol-WCXyQvXmgdroXQmS/download"}}],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/policies?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/policies?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/policies?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":1,"total-count":2}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c43ade23baabff7b201aed6d1648f2d0"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.166'
    status:
      code: 200
      message: OK
[...]
