interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/policy-sets
  response:
    body:
      string: '{"data":[{"id":"polset-FyjB3zYm7EXFNpQH","type":"policy-sets","attributes":{"name":"smk-opa-policy-set-1","description":"SMK
        OPA policy set #1","global":false,"workspace-count":1,"project-count":0,"created-at":"2023-10-15T16:56:24.213Z","updated-at":"2023-10-15T16:56:24.213Z","kind":"opa","agent-enabled":true,"policy-tool-version":"0.50.2","overridable":false,"policy-count":2,"versioned":false},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"policies":{"data":[{"id":"pol-WCXyQvXmgdroXQmS","type":"policies"},{"id":"pol-2EAtkaeuurV4TSNG","type":"policies"}]},"workspaces":{"data":[{"id":"ws-AhqVk8CoCrtAf1qk","type":"workspaces"}]},"projects":{"data":[]},"workspace-exclusions":{"data":[]}},"links":{"self":"/api/v2/policy-sets/polset-FyjB3zYm7EXFNpQH"}}],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/policy-sets?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/policy-sets?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/policy-sets?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":1,"total-count":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"646566f495af96a355cdb947e7fbd603"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.172'
    status:
      code: 200
      message: OK
[...]
