interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations
  response:
    body:
      string: '{"data":[{"id":"example-org-f50608","type":"organizations","attributes":{"external-id":"org-e64Gk4S6sTS6Rk8U","created-at":"2022-04-05T21:15:18.017Z","email":"jfinck42@gmail.com","session-timeout":null,"session-remember":null,"collaborator-auth-policy":"password","plan-expired":false,"plan-expires-at":null,"plan-is-trial":false,"plan-is-enterprise":false,"plan-identifier":"free_standard","cost-estimation-enabled":true,"managed-resource-count":3,"send-passing-statuses-for-untriggered-speculative-plans":false,"allow-force-delete-workspaces":true,"assessments-enforced":false,"is-in-degraded-mode":false,"default-execution-mode":"remote","remaining-testable-count":5,"name":"example-org-f50608","permissions":{"can-update":true,"can-destroy":true,"can-access-via-teams":true,"can-create-module":true,"can-create-team":false,"can-create-workspace":true,"can-manage-users":true,"can-manage-subscription":true,"can-manage-sso":true,"can-update-oauth":true,"can-update-sentinel":true,"can-update-ssh-keys":true,"can-update-api-token":true,"can-traverse":true,"can-view-usage":true,"can-start-trial":false,"can-update-agent-pools":true,"can-manage-tags":true,"can-manage-varsets":true,"can-read-varsets":true,"can-manage-public-providers":true,"can-create-provider":true,"can-manage-public-modules":true,"can-manage-custom-providers":true,"can-manage-run-tasks":true,"can-read-run-tasks":true,"can-create-project":true,"can-manage-assessments":true,"can-read-assessments":true,"can-view-explorer":true,"can-deploy-no-code-modules":false,"can-manage-no-code-modules":false,"can-use-new-pnp-activation-ui":true},"saml-enabled":false,"fair-run-queuing-enabled":false,"owners-team-saml-role-id":null,"two-factor-conformant":false},"relationships":{"default-agent-pool":{"data":null},"oauth-tokens":{"links":{"related":"/api/v2/organizations/example-org-f50608/oauth-tokens"}},"authentication-token":{"links":{"related":"/api/v2/organizations/example-org-f50608/authentication-token"}},"entitlement-set":{"data":{"id":"org-e64Gk4S6sTS6Rk8U","type":"entitlement-sets"},"links":{"related":"/api/v2/organizations/example-org-f50608/entitlement-set"}},"subscription":{"data":{"id":"sub-hxasSZnv23edAiCu","type":"subscriptions"},"links":{"related":"/api/v2/organizations/example-org-f50608/subscription"}},"default-project":{"data":{"id":"prj-CYx7R2x9Fxa6iL3e","type":"projects"},"links":{"related":"/api/v2/projects/prj-CYx7R2x9Fxa6iL3e"}}},"links":{"self":"/api/v2/organizations/example-org-f50608"}},{"id":"example-org-f50609","type":"organizations","attributes":{"external-id":"org-dW8hqpcYZTff7BmW","created-at":"2023-10-14T21:07:31.422Z","email":"jfinck42@gmail.com","session-timeout":null,"session-remember":null,"collaborator-auth-policy":"password","plan-expired":false,"plan-expires-at":null,"plan-is-trial":false,"plan-is-enterprise":false,"plan-identifier":"free_standard","cost-estimation-enabled":false,"managed-resource-count":0,"send-passing-[...]
