interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/workspaces/ws-AhqVk8CoCrtAf1qk/vars
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8fe32e407a1038ee38753b70e5374b3a"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.26'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/workspaces/ws-kJpdEf9zNHR4PCqa/vars
  response:
    body:
      string: '{"data":[{"id":"var-mbYASAkqaPtaLJko","type":"vars","attributes":{"key":"sensitive_hcl_env_var","value":null,"sensitive":true,"category":"env","hcl":true,"created-at":"2023-10-15T16:56:23.705Z","description":"HCL
        environment variable","version-id":"36d857d4bf3667addd9799eb9e9e234709b719e0a562773ab2dfe7b74f0bcf2b"},"relationships":{"configurable":{"data":{"id":"ws-kJpdEf9zNHR4PCqa","type":"workspaces"},"links":{"related":"/api/v2/organizations/smk-organization-1/workspaces/smk-workspace-1"}},"workspace":{"data":{"id":"ws-kJpdEf9zNHR4PCqa","type":"workspaces"},"links":{"related":"/api/v2/organizations/smk-organization-1/workspaces/smk-workspace-1"}}},"links":{"self":"/api/v2/workspaces/ws-kJpdEf9zNHR4PCqa/vars/var-mbYASAkqaPtaLJko"}},{"id":"var-wW4gDMeGMNrbF2nx","type":"vars","attributes":{"key":"env_var","value":"foo","sensitive":false,"category":"env","hcl":false,"created-at":"2023-10-15T16:56:23.762Z","description":"Simple
        environment variable","version-id":"79a5e5b1026ccc1f2aa83703f83c2168707afb4148c814b2900ee9062ea445aa"},"relationships":{"configurable":{"data":{"id":"ws-kJpdEf9zNHR4PCqa","type":"workspaces"},"links":{"related":"/api/v2/organizations/smk-organization-1/workspaces/smk-workspace-1"}},"workspace":{"data":{"id":"ws-kJpdEf9zNHR4PCqa","type":"workspaces"},"links":{"related":"/api/v2/organizations/smk-organization-1/workspaces/smk-workspace-1"}},"overwritten":{"data":[{"id":"var-QkSdZHAiy9h11Ezq","type":"vars"}]}},"links":{"self":"/api/v2/workspaces/ws-kJpdEf9zNHR4PCqa/vars/var-wW4gDMeGMNrbF2nx"}},{"id":"var-QmF9LKYPApGkvQGV","type":"vars","attributes":{"key":"sensitive_env_var","value":null,"sensitive":true,"category":"env","hcl":false,"created-at":"2023-10-15T16:56:23.889Z","description":"Sensitive
        environment variable","version-id":"63798d6f8d30e00b9518d7c7c77fe737f6edb03d54fcb7ae5a8285b87e2df7d0"},"relationships":{"configurable":{"data":{[...]
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/workspaces/ws-Fwk2uepV1GCRjZ1u/vars
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8fe32e407a1038ee38753b70e5374b3a"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.615'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/workspaces/ws-PriJg5gR27pd7GpA/vars
  response:
    body:
      string: '{
  "data": [
    {
      "id": "var-jra6LYtidTJ7TYaM",
      "type": "vars",
      "attributes": {
        "key": "sensitive_hcl_env_var",
        "value": null,
        "sensitive": true,
        "category": "env",
        "hcl": true[...]
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/workspaces/ws-dUtvk1dSMJR37Afp/vars
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8fe32e407a1038ee38753b70e5374b3a"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '0.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/workspaces/ws-ncC6dqgZ81QpBBGx/vars
  response:
    body:
      string: '{
  "data": [
    {
      "id": "var-JKy5HvZsRoQonWth",
      "type": "vars",
      "attributes": {
        "key": "sensitive_hcl_env_var",
        "value": null,
        "sensitive": true,
        "category": "env",
        "hcl": true[...]
