interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/teams
  response:
    body:
      string: '{"data":[{"id":"team-tGsUX5ecdSg4psjx","type":"teams","attributes":{"name":"owners","users-count":1,"sso-team-id":null,"visibility":"secret","permissions":{"can-update-membership":true,"can-destroy":false,"can-update-organization-access":false,"can-update-api-token":true,"can-update-visibility":false,"can-update-name":false,"can-update-sso-team-id":false}},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"users":{"data":[{"id":"user-QgxqJwW54XtqBfAB","type":"users"}]},"organization-memberships":{"data":[{"id":"ou-aQTs2uCr7bdKEe7Q","type":"organization-memberships"}]},"authentication-token":{"meta":{}}},"links":{"self":"/api/v2/teams/team-tGsUX5ecdSg4psjx"}}],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/teams?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/teams?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/teams?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"status-counts":{"total":1},"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":1,"total-count":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"36cc5e0a7c14fcb48138770597844e14"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.327'
    status:
      code: 200
      message: OK
[...]
