interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/agent-pools
  response:
    body:
      string: '{"data":[{"id":"apool-a8XNACnrwmJmUbe2","type":"agent-pools","attributes":{"name":"smk-agent-pool-1","created-at":"2023-10-15T16:56:21.045Z","agent-count":0,"organization-scoped":true},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"agents":{"links":{"related":"/api/v2/agent-pools/apool-a8XNACnrwmJmUbe2/agents"}},"authentication-tokens":{"links":{"related":"/api/v2/agent-pools/apool-a8XNACnrwmJmUbe2/authentication-tokens"}},"oauth-clients":{"data":[],"links":{"related":"/api/v2/organizations/smk-organization-1/oauth-clients?filter[agent_pool]=apool-a8XNACnrwmJmUbe2"}},"workspaces":{"data":[]},"allowed-workspaces":{"data":[]}},"links":{"self":"/api/v2/agent-pools/apool-a8XNACnrwmJmUbe2"}},{"id":"apool-a6gpQytVd8TaMq2K","type":"agent-pools","attributes":{"name":"smk-agent-pool-2","created-at":"2023-10-15T16:56:21.689Z","agent-count":0,"organization-scoped":false},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"agents":{"links":{"related":"/api/v2/agent-pools/apool-a6gpQytVd8TaMq2K/agents"}},"authentication-tokens":{"links":{"related":"/api/v2/agent-pools/apool-a6gpQytVd8TaMq2K/authentication-tokens"}},"oauth-clients":{"data":[],"links":{"related":"/api/v2/organizations/smk-organization-1/oauth-clients?filter[agent_pool]=apool-a6gpQytVd8TaMq2K"}},"workspaces":{"data":[]},"allowed-workspaces":{"data":[]}},"links":{"self":"/api/v2/agent-pools/apool-a6gpQytVd8TaMq2K"}}],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/agent-pools?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/agent-pools?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/agent-pools?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"status-counts":{"total":2,"matching":2},"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":1,"total-count":2}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"547ff62629d0c5a1845731c17fcae089"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.719'
    status:
      code: 200
      message: OK
[...]
