interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/varsets
  response:
    body:
      string: '{"data":[{"id":"varset-oEGyuPoqR7azRPCn","type":"varsets","attributes":{"name":"smk-variable-set-1","description":"SMK
        variable set #1","global":true,"updated-at":"2023-10-15T16:56:20.791Z","var-count":2,"workspace-count":0,"project-count":0},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"vars":{"data":[{"id":"var-QkSdZHAiy9h11Ezq","type":"vars"},{"id":"var-wVirxpb9tmUWGY6Q","type":"vars"}]}}},{"id":"varset-q5PE8gxJeFn5qrWY","type":"varsets","attributes":{"name":"smk-variable-set-3","description":"SMK
        variable set #3","global":false,"updated-at":"2023-10-15T16:56:21.118Z","var-count":1,"workspace-count":2,"project-count":0},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"vars":{"data":[{"id":"var-sNf2sZ2Wb3y4N8Hm","type":"vars"}]},"workspaces":{"data":[{"id":"ws-kJpdEf9zNHR4PCqa","type":"workspaces"},{"id":"ws-AhqVk8CoCrtAf1qk","type":"workspaces"}]},"projects":{"data":[]}}},{"id":"varset-XnuYVCWVYvW34Bfc","type":"varsets","attributes":{"name":"smk-variable-set-2","description":"SMK
        variable set #2","global":false,"updated-at":"2023-10-15T16:56:20.933Z","var-count":1,"workspace-count":1,"project-count":0},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"vars":{"data":[{"id":"var-2ZwtnkzopqkByTKK","type":"vars"}]},"workspaces":{"data":[{"id":"ws-kJpdEf9zNHR4PCqa","type":"workspaces"}]},"projects":{"data":[]}}}],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/varsets?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/varsets?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/varsets?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":1,"total-count":3}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7ba349ca86169b39f3daa9830dd42d45"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.575'
    status:
      code: 200
      message: OK
[...]
