interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/registry-providers
  response:
    body:
      string: '{"data":[],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/registry-providers?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/registry-providers?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/registry-providers?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":0,"total-count":0}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"244f9e7f66146086ae55dbf3dfa40aaa"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.645'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-3/registry-providers
  response:
    body:
      string: '{"data":[],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-3/registry-providers?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-3/registry-providers?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-3/registry-providers?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":0,"total-count":0}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"309b8366ae84dfaaf0f0f7dfafc237b1"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '0.0'
    status:
      code: 200
      message: OK
version: 1
