interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/workspaces
  response:
    body:
      string: '{"data":[{"id":"ws-AhqVk8CoCrtAf1qk","type":"workspaces","attributes":{"allow-destroy-plan":true,"auto-apply":true,"auto-destroy-activity-duration":null,"auto-destroy-at":null,"auto-destroy-status":null,"created-at":"2023-10-15T16:56:23.086Z","environment":"default","locked":false,"name":"smk-workspace-2","queue-all-runs":true,"speculative-enabled":false,"structured-run-output-enabled":true,"terraform-version":"0.12.0","working-directory":"","global-remote-state":false,"updated-at":"2023-10-15T17:57:03.935Z","resource-count":0,"apply-duration-average":null,"plan-duration-average":null,"policy-check-failures":null,"run-failures":null,"workspace-kpis-runs-count":null,"latest-change-at":"2023-10-15T16:56:23.086Z","operations":false,"execution-mode":"local","vcs-repo":null,"vcs-repo-identifier":null,"permissions":{"can-update":true,"can-destroy":true,"can-queue-run":false,"can-read-variable":true,"can-update-variable":false,"can-read-state-versions":true,"can-read-state-outputs":true,"can-create-state-versions":true,"can-queue-apply":false,"can-lock":true,"can-unlock":true,"can-force-unlock":true,"can-read-settings":true,"can-manage-tags":true,"can-manage-run-tasks":true,"can-force-delete":true,"can-manage-assessments":true,"can-manage-ephemeral-workspaces":false,"can-read-assessment-results":true,"can-queue-destroy":false},"actions":{"is-destroyable":true},"description":"SMK
        Workspace #2","file-triggers-enabled":true,"trigger-prefixes":[],"trigger-patterns":[],"assessments-enabled":false,"last-assessment-result-at":null,"source":"tfe-api","source-name":null,"source-url":null,"tag-names":["tag-1"],"setting-overwrites":{"execution-mode":true,"agent-pool":true}},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"current-run":{"data":null},"latest-run":{"data":null},"outputs":{"data":[]},"remote-state-consumers":{"links":{"related":"/api/v2/workspaces/ws-AhqVk8CoCrtAf1qk/relationships/remote-state-consumers"}},"current-state-version":{"data":null},"current-configuration-version":{"data":null},"agent-pool":{"data":null},"readme":{"data":null},"project":{"data":{"id":"prj-WA5Td2VL3XH5gci4","type":"projects"}},"current-assessment-result":{"data":null},"vars":{"data":[]}},"links":{"self":"/api/v2/organizations/smk-organization-1/workspaces/smk-workspace-2","self-html":"/app/smk-organization-1/workspaces/smk-workspace-2"}},{"id":"ws-kJpdEf9zNHR4PCqa","type":"workspaces","attributes":{"allow-destroy-plan":true,"auto-apply":false,"auto-destroy-activity-duration":null,"auto-destroy-at":null,"auto-destroy-status":null,"created-at":"2023-10-15T16:56:22.550Z","environment":"default","locked":false,"name":"smk-workspace-1","queue-all-runs":true,"speculative-enabled":true,"structured-run-output-enabled":true,"terraform-version":"\u003e=
        1.2.0","working-directo[...]
[...]
