interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/registry-modules
  response:
    body:
      string: '{"data":[{"id":"mod-em9WeyX5jh6DSiss","type":"registry-modules","attributes":{"name":"example_module","namespace":"smk-organization-1","provider":"smk","status":"pending","version-statuses":[],"created-at":"2023-10-15T17:14:53.964Z","updated-at":"2023-10-15T17:14:53.964Z","registry-name":"private","no-code":false,"publishing-mechanism":"non_vcs","permissions":{"can-delete":true,"can-resync":true,"can-retry":true}},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"no-code-modules":{"data":[]}},"links":{"self":"/api/v2/organizations/smk-organization-1/registry-modules/private/smk-organization-1/example_module/smk"}},{"id":"mod-8TA32Bgff5FRMvmv","type":"registry-modules","attributes":{"name":"vpc","namespace":"terraform-aws-modules","provider":"aws","status":"setup_complete","version-statuses":[],"created-at":"2023-10-15T17:13:11.280Z","updated-at":"2023-10-15T17:13:11.286Z","registry-name":"public","no-code":false,"publishing-mechanism":"non_vcs","permissions":{"can-delete":true,"can-resync":true,"can-retry":true}},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"}},"no-code-modules":{"data":[]}},"links":{"self":"/api/v2/organizations/smk-organization-1/registry-modules/public/terraform-aws-modules/vpc/aws"}}],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/registry-modules?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/registry-modules?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/registry-modules?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":1,"total-count":2}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6c04491f942805da029b27c0dc00dd8a"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.0'
    status:
      code: 200
      message: OK
[...]
