interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/projects
  response:
    body:
      string: '{"data":[{"id":"prj-rozqHQ3H6ocSq5n8","type":"projects","attributes":{"name":"Default
        Project","permissions":{"can-read":true,"can-update":true,"can-destroy":true,"can-create-workspace":true,"can-move-workspace":true,"can-deploy-no-code-modules":true,"can-read-teams":false,"can-manage-teams":false}},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"},"links":{"related":"/api/v2/organizations/smk-organization-1"}}},"links":{"self":"/api/v2/projects/prj-rozqHQ3H6ocSq5n8"}},{"id":"prj-XGjmPS8av1UcZQJW","type":"projects","attributes":{"name":"smk-project-1","permissions":{"can-read":true,"can-update":true,"can-destroy":true,"can-create-workspace":true,"can-move-workspace":true,"can-deploy-no-code-modules":true,"can-read-teams":false,"can-manage-teams":false}},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"},"links":{"related":"/api/v2/organizations/smk-organization-1"}}},"links":{"self":"/api/v2/projects/prj-XGjmPS8av1UcZQJW"}},{"id":"prj-WA5Td2VL3XH5gci4","type":"projects","attributes":{"name":"smk-project-2","permissions":{"can-read":true,"can-update":true,"can-destroy":true,"can-create-workspace":true,"can-move-workspace":true,"can-deploy-no-code-modules":true,"can-read-teams":false,"can-manage-teams":false}},"relationships":{"organization":{"data":{"id":"smk-organization-1","type":"organizations"},"links":{"related":"/api/v2/organizations/smk-organization-1"}}},"links":{"self":"/api/v2/projects/prj-WA5Td2VL3XH5gci4"}}],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/projects?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/projects?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/projects?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"status-counts":{"total":3,"matching":3},"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":1,"total-count":3}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7f0251bc88784f8ab6ba96b8623f1b73"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.0'
    status:
      code: 200
      message: OK
[...]
