interactions:
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-1/tasks
  response:
    body:
      string: '{"data":[],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-1/tasks?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-1/tasks?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-1/tasks?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":0,"total-count":0}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6c1698b77180b7867d5da6746f409fb2"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.556'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - '[REDACTED]'
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://app.terraform.io/api/v2/organizations/smk-organization-3/tasks
  response:
    body:
      string: '{"data":[],"links":{"self":"https://app.terraform.io/api/v2/organizations/smk-organization-3/tasks?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/smk-organization-3/tasks?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/smk-organization-3/tasks?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":0,"total-count":0}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"336d5c17a9e8129fb7d547de230e51d3"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - Terraform Cloud
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '0.199'
    status:
      code: 200
      message: OK
version: 1
